@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

ol,
ul {
  list-style: none;
}

::backdrop {
  background-color: #666666;
  opacity: 0.5;
}

body {
  height: auto;
}
body dialog.signup_area {
  width: 340px;
  height: 332px;
  display: flex;
  transform: translateX(-50%);
}
body dialog.signin_area {
  width: 340px;
  height: 275px;
  display: flex;
  transform: translateX(-50%);
}
body dialog.signup_area,
body dialog.signin_area {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px 5px 5px 5px;
  border: 0;
  left: 50%;
  top: 80px;
  overflow: visible;
  z-index: -1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
body dialog.signup_area div.decobar,
body dialog.signin_area div.decobar {
  border-radius: 5px 5px 0 0;
  flex-shrink: 0;
  background-color: #448899;
  width: 100%;
  height: 10px;
}
body dialog.signup_area h2,
body dialog.signin_area h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #666666;
}
body dialog.signup_area form,
body dialog.signin_area form {
  margin: 15px 15px 16px 15px;
}
body dialog.signup_area form input,
body dialog.signin_area form input {
  margin: 5px 0 5px 0;
  height: 47px;
  width: 310px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #cccccc;
  padding: 16.5px 15px 16.5px 15px;
}
body dialog.signup_area form input::-moz-placeholder, body dialog.signin_area form input::-moz-placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body dialog.signup_area form input::placeholder,
body dialog.signin_area form input::placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body dialog.signup_area form button,
body dialog.signin_area form button {
  width: 310px;
  height: 46px;
  background-color: #448899;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0 5px 0;
}
body dialog.signup_area form div.link_text,
body dialog.signin_area form div.link_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
body dialog.signup_area form div.link_text p,
body dialog.signin_area form div.link_text p {
  color: #666666;
  font-weight: 500;
}
body dialog.signup_area button.close_signin,
body dialog.signup_area button.close_signup,
body dialog.signin_area button.close_signin,
body dialog.signin_area button.close_signup {
  position: absolute; /* 設置絕對定位 */
  top: 27px; /* 距離 form 頂部 27px */
  right: 17px; /* 距離 form 右邊 17px */
  z-index: 4; /* 設置 z-index 為 4，使其位於 form 上一層 */
  background-image: url("/static/img/close_icon.png"); /* 替換為你的圖片路徑 */
  background-size: cover; /* 或 contain，根據需求 */
  border: none;
  background-color: #ffffff;
  padding: 0;
  width: 16px; /* 設定圖片寬度 */
  height: 16px; /* 設定圖片高度 */
}
body dialog.signup_area[open],
body dialog.signin_area[open] {
  opacity: 1;
  z-index: 2;
}
body div.cover {
  display: none;
  position: absolute;
  background-color: #666666;
  opacity: 0.5; /* 設置透明度為 30% */
  z-index: 2; /* 設置 z-index 為 2 */
  width: 100%;
  height: 100%;
}
body main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
body main header {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px 0 10px;
  margin: 10px 0 10px 0;
}
body main header div.header_area {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
body main header div.header_area a.web_title {
  color: #448899;
  text-decoration: none;
  width: 150px;
  font-weight: bolder;
  flex-shrink: 0;
}
body main header div.header_area a.web_title:visited {
  color: #448899;
}
body main header div.header_area nav.header_nav {
  width: auto;
  align-items: center;
}
body main header div.header_area nav.header_nav ul {
  display: flex;
  flex-direction: row;
}
body main header div.header_area nav.header_nav ul li {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  color: #666666;
}
body main div.welcome {
  background-image: url("../img/welcome.png");
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main div.welcome div.welcome_content {
  width: 100%;
  max-width: 1200px;
  height: 169px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body main div.welcome div.welcome_content div.welcome_text {
  max-width: 1200px;
  margin-bottom: 25px;
}
body main div.welcome div.welcome_content div.welcome_text div.slogan1 {
  font-size: 28px;
  color: #f8f8f8;
  font-weight: 700;
  margin-bottom: 15px;
}
body main div.welcome div.welcome_content div.welcome_text div.slogan2 {
  font-size: 16px;
  color: #f8f8f8;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search {
  display: flex;
  justify-content: center;
}
body main div.welcome div.welcome_content div.search input {
  width: 400px;
  height: 46px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
}
body main div.welcome div.welcome_content div.search input::-moz-placeholder {
  color: #757575;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search input::placeholder {
  color: #757575;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search div.search_button {
  width: 60px;
  height: 46px;
  background-color: #448899;
  background-image: url("../img/icon_search.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  padding: 8px 15px 8px 15px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body main div.welcome div.welcome_content div.search div.search_button:focus {
  outline: none;
}
body main nav.mrts {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  padding-bottom: 20;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
body main nav.mrts div.left_arrow {
  width: 47px;
  height: 50px;
  padding: 9px 0 9px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main nav.mrts div.left_arrow img.left_arrow {
  width: 32px;
  height: 32px;
}
body main nav.mrts div.keyword_area {
  width: 1106px;
  height: 50px;
  padding: 13px 10px 13px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body main nav.mrts div.keyword_area div.keyword_nav {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
}
body main nav.mrts div.keyword_area div.keyword_nav::-webkit-scrollbar {
  display: none;
}
body main nav.mrts div.keyword_area div.keyword_nav div {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  cursor: pointer;
}
body main nav.mrts div.right_arrow {
  width: 47px;
  height: 50px;
  padding: 9px 15px 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main nav.mrts div.right_arrow img {
  width: 32px;
  height: 32px;
}
body main article {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article div.box_area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main article div.box_area div.box {
  height: 242px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}
body main article div.box_area div.box figure {
  height: 197px;
  width: 270px;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 5px 5px 0 0;
}
body main article div.box_area div.box figure p {
  width: 270px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3764705882);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body main article div.box_area div.box div.attraction_text {
  height: 45px;
  width: 270px;
  background-color: #ffffff;
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
body main article div.box_area div.box div.attraction_text div.mrt_station {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
}
body main article div.box_area div.box div.attraction_text div.category {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
}
body main footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main footer div {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  body main article {
    width: 90vw;
  }
  body main article div.box_area {
    justify-content: center;
  }
  body main article div.box_area div.box {
    max-width: 510px;
    width: calc(50% - 30px);
  }
  body main article div.box_area div.box figure,
  body main article div.box_area div.box div.attraction_text {
    width: 100%;
  }
  body main article div.box_area div.box figure p {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body main div.welcome div.welcome_content div.search {
    max-width: 460px;
    width: 100%;
  }
  body main div.welcome div.welcome_content div.search input {
    max-width: 400px;
    width: 100%;
  }
  body main article div.box_area {
    justify-content: center;
  }
  body main article div.box_area div.box {
    max-width: 540px;
    width: 100%;
    height: 280px;
  }
  body main article div.box_area div.box figure {
    height: 235px;
  }
  body main article div.box_area div.box div.attraction_text {
    height: 45px;
  }
}
@media screen and (max-width: 360px) {
  body main article {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */