@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

ol,
ul {
  list-style: none;
}

::backdrop {
  background-color: #666666;
  opacity: 0.5;
}

body.booking_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  height: auto;
}
body dialog.signup_area {
  width: 340px;
  height: 332px;
  display: flex;
  transform: translateX(-50%);
}
body dialog.signin_area {
  width: 340px;
  height: 275px;
  display: flex;
  transform: translateX(-50%);
}
body dialog.signup_area,
body dialog.signin_area {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px 5px 5px 5px;
  border: 0;
  left: 50%;
  top: 80px;
  overflow: visible;
  z-index: -1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
body dialog.signup_area div.decobar,
body dialog.signin_area div.decobar {
  border-radius: 5px 5px 0 0;
  flex-shrink: 0;
  background-color: #448899;
  width: 100%;
  height: 10px;
}
body dialog.signup_area h2,
body dialog.signin_area h2 {
  height: 27px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #666666;
  text-align: center;
  line-height: 27px;
}
body dialog.signup_area form,
body dialog.signin_area form {
  margin: 15px 15px 0px 15px;
}
body dialog.signup_area form div,
body dialog.signin_area form div {
  height: 47px;
  margin-bottom: 10px;
}
body dialog.signup_area form div input,
body dialog.signin_area form div input {
  height: 47px;
  width: 310px;
  border-radius: 5px 5px 5px 5px;
  border: solid 1px #cccccc;
  padding: 16.5px 15px 16.5px 15px;
}
body dialog.signup_area form div input::-moz-placeholder, body dialog.signin_area form div input::-moz-placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body dialog.signup_area form div input::placeholder,
body dialog.signin_area form div input::placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body dialog.signup_area form div.regis_submit,
body dialog.signin_area form div.regis_submit {
  width: 310px;
  height: 46px;
}
body dialog.signup_area form div.regis_submit button,
body dialog.signin_area form div.regis_submit button {
  width: 100%;
  height: 100%;
  background-color: #448899;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  border: 0;
  border-radius: 5px 5px 5px 5px;
}
body dialog.signup_area form button#signin_button,
body dialog.signin_area form button#signin_button {
  width: 310px;
  height: 46px;
  background-color: #448899;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 10px;
}
body dialog.signup_area form div.link_text,
body dialog.signin_area form div.link_text {
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body dialog.signup_area form div.link_text p,
body dialog.signin_area form div.link_text p {
  color: #666666;
  font-weight: 500;
}
body dialog.signup_area button.close_signin,
body dialog.signup_area button.close_signup,
body dialog.signin_area button.close_signin,
body dialog.signin_area button.close_signup {
  position: absolute; /* 設置絕對定位 */
  top: 27px; /* 距離 form 頂部 27px */
  right: 17px; /* 距離 form 右邊 17px */
  z-index: 4; /* 設置 z-index 為 4，使其位於 form 上一層 */
  background-image: url("/static/img/close_icon.png"); /* 替換為你的圖片路徑 */
  background-size: cover; /* 或 contain，根據需求 */
  border: none;
  background-color: #ffffff;
  padding: 0;
  width: 16px; /* 設定圖片寬度 */
  height: 16px; /* 設定圖片高度 */
}
body dialog.signup_area[open],
body dialog.signin_area[open] {
  opacity: 1;
  z-index: 2;
}
body div.cover {
  display: none;
  position: absolute;
  background-color: #666666;
  opacity: 0.5; /* 設置透明度為 30% */
  z-index: 2; /* 設置 z-index 為 2 */
  width: 100%;
  height: 100%;
}
body main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
body main header.header_underline {
  border-bottom: solid 1px #e8e8e8;
}
body main header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main header div.header_area {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 10px 10px 10px 10px;
}
body main header div.header_area a.web_title {
  color: #448899;
  text-decoration: none;
  width: 150px;
  font-weight: bolder;
  flex-shrink: 0;
}
body main header div.header_area a.web_title:visited {
  color: #448899;
}
body main header div.header_area nav.header_nav {
  width: auto;
  align-items: center;
}
body main header div.header_area nav.header_nav ul {
  display: flex;
  flex-direction: row;
}
body main header div.header_area nav.header_nav ul li#booking_li {
  cursor: pointer;
}
body main header div.header_area nav.header_nav ul li {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  color: #666666;
}
body main header div.header_area nav.header_nav ul li a {
  text-decoration: none;
}
body main header div.header_area nav.header_nav ul li a:visited {
  color: #666666;
}
body main div.welcome {
  background-image: url("../img/welcome.png");
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main div.welcome div.welcome_content {
  width: 100%;
  max-width: 1200px;
  height: 169px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body main div.welcome div.welcome_content div.welcome_text {
  max-width: 1200px;
  margin-bottom: 25px;
}
body main div.welcome div.welcome_content div.welcome_text div.slogan1 {
  font-size: 28px;
  color: #f8f8f8;
  font-weight: 700;
  margin-bottom: 15px;
}
body main div.welcome div.welcome_content div.welcome_text div.slogan2 {
  font-size: 16px;
  color: #f8f8f8;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search {
  display: flex;
  justify-content: center;
}
body main div.welcome div.welcome_content div.search input {
  width: 400px;
  height: 46px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
}
body main div.welcome div.welcome_content div.search input::-moz-placeholder {
  color: #757575;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search input::placeholder {
  color: #757575;
  font-weight: 700;
}
body main div.welcome div.welcome_content div.search div.search_button {
  width: 60px;
  height: 46px;
  background-color: #448899;
  background-image: url("../img/icon_search.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  padding: 8px 15px 8px 15px;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body main div.welcome div.welcome_content div.search div.search_button:focus {
  outline: none;
}
body main nav.mrts {
  width: 100%;
  max-width: 1200px;
  height: 70px;
  padding-bottom: 20;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}
body main nav.mrts div.left_arrow {
  width: 47px;
  height: 50px;
  padding: 9px 0 9px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main nav.mrts div.left_arrow img.left_arrow {
  width: 32px;
  height: 32px;
}
body main nav.mrts div.keyword_area {
  width: 1106px;
  height: 50px;
  padding: 13px 10px 13px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body main nav.mrts div.keyword_area div.keyword_nav {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
}
body main nav.mrts div.keyword_area div.keyword_nav::-webkit-scrollbar {
  display: none;
}
body main nav.mrts div.keyword_area div.keyword_nav div {
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: #666666;
  font-weight: 500;
  cursor: pointer;
}
body main nav.mrts div.right_arrow {
  width: 47px;
  height: 50px;
  padding: 9px 15px 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main nav.mrts div.right_arrow img {
  width: 32px;
  height: 32px;
}
body main section.main_container {
  width: 1200px;
  height: 400px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 40px 0;
}
body main section.main_container .slideshow-container {
  border-radius: 5px;
  width: 540px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main section.main_container .slideshow-container .mySlides {
  width: 100%;
  height: 100%;
  display: none;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  display: flex;
}
body main section.main_container .slideshow-container .arrow_area {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
body main section.main_container .slideshow-container .arrow_area .prev,
body main section.main_container .slideshow-container .arrow_area .next {
  cursor: pointer;
  width: 36px;
  height: 36px;
  opacity: 75%;
  margin-top: -22px;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main section.main_container .slideshow-container .arrow_area .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
body main section.main_container .slideshow-container div.dot_area {
  position: absolute;
  top: 372px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main section.main_container .slideshow-container div.dot_area .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
body main section.main_container .slideshow-container div.dot_area .dot:hover, body main section.main_container .slideshow-container div.dot_area .dot.active {
  background-color: #000000;
  border: solid 1px #ffffff;
}
body main section.main_container section.second_container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #666666;
}
body main section.main_container section.second_container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}
body main section.main_container section.second_container h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
body main section.main_container section.second_container form {
  width: 600px;
  height: 320px;
  background-color: #e8e8e8;
  border-radius: 5px;
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: column;
}
body main section.main_container section.second_container form h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
body main section.main_container section.second_container form div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
body main section.main_container section.second_container form div h3,
body main section.main_container section.second_container form div h4 {
  margin: 0 5px 0 0;
  font-size: 16px;
  line-height: 137.5%;
}
body main section.main_container section.second_container form div input.date {
  height: 35px;
  width: 193px;
  border: none;
}
body main section.main_container section.second_container form div label.container {
  display: block;
  align-items: center;
  position: relative;
  padding: 4px 8px 4px 26px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 13.3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
body main section.main_container section.second_container form div label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body main section.main_container section.second_container form div label.container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  border-radius: 50%;
}
body main section.main_container section.second_container form div label.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body main section.main_container section.second_container form div label.container:hover input ~ .checkmark {
  background-color: #ffffff;
}
body main section.main_container section.second_container form div label.container input:checked ~ .checkmark {
  background-color: #ffffff;
}
body main section.main_container section.second_container form div label.container input:checked ~ .checkmark:after {
  display: block;
}
body main section.main_container section.second_container form div label.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #448899;
}
body main section.main_container section.second_container form button.schedule_btn {
  width: 154px;
  height: 36px;
  background-color: #448899;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 20px 10px 20px;
  line-height: 16px;
}
body main article {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main article div.box_area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body main article div.box_area div.box {
  cursor: pointer;
  height: 242px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}
body main article div.box_area div.box figure {
  height: 197px;
  width: 270px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 5px 5px 0 0;
}
body main article div.box_area div.box figure figcaption {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3764705882);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body main article div.box_area div.box div.attraction_text {
  height: 45px;
  width: 270px;
  background-color: #ffffff;
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
body main article div.box_area div.box div.attraction_text div.mrt_station {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
}
body main article div.box_area div.box div.attraction_text div.category {
  font-size: 16px;
  color: #757575;
  font-weight: 500;
}
body main hr {
  margin-bottom: 40px;
  border: solid 1px #e8e8e8;
  width: 100%;
  max-width: 1200px;
}
body main article.attraction_info div {
  padding: 10px 10px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #666666;
  margin-bottom: 40px;
}
body main article.attraction_info div section#description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding-bottom: 19.2px;
}
body main article.attraction_info div section {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
body main article.attraction_info div section h3 {
  height: 32px;
}
body main article.attraction_info div section h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
body main footer {
  width: 100%;
  height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main footer div {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
body main.booking_page {
  display: none;
  flex: 0 0 auto;
}
body main.booking_page div.headline {
  margin: 40px 0px 30px 0px;
  padding-left: 10px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  font-size: 19px;
  font-weight: 700;
  color: #666666;
}
body main.booking_page section.empty {
  display: flex;
  width: 100%;
  max-width: 1000px;
  padding-left: 10px;
  margin: 0 10px 40px 10px;
  text-align: center;
}
body main.booking_page section.empty p.empty {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  line-height: 1.5;
}
body main.booking_page form.booking_order_form {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px 0 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
body main.booking_page form.booking_order_form hr {
  margin: 40px 0 40px 0;
  border: solid 1px #e8e8e8;
}
body main.booking_page form.booking_order_form section.attraction_booked {
  width: 100%;
  max-width: 980px;
  height: 200px;
  display: flex;
}
body main.booking_page form.booking_order_form section.attraction_booked figure.booking_attr_img {
  background-size: cover;
  width: 250px;
  height: 200px;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info {
  width: 100%;
  max-width: 700px;
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info div.attraction_name {
  margin: 0 0 10px 0;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info p.attraction_name,
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info label.attraction_name {
  font-size: 16px;
  font-weight: 700;
  color: #448899;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info div {
  display: flex;
  margin-top: 10px;
  color: #666666;
  font-size: 16px;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info div p {
  font-weight: 700;
  white-space: nowrap;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info div label {
  font-weight: 400;
}
body main.booking_page form.booking_order_form section.attraction_booked div.attraction_info button.delete_booking {
  position: absolute; /* 設置絕對定位 */
  top: 0;
  right: 0;
  z-index: 4; /* 設置 z-index 為 4，使其位於 form 上一層 */
  background-image: url("/static/img/icon_delete.png"); /* 替換為你的圖片路徑 */
  background-size: cover; /* 或 contain，根據需求 */
  border: none;
  background-color: #ffffff;
  padding: 0;
  width: 30px; /* 設定圖片寬度 */
  height: 30px; /* 設定圖片高度 */
  cursor: pointer;
}
body main.booking_page form.booking_order_form section.contact_form,
body main.booking_page form.booking_order_form section.payment_info {
  width: 100%;
  max-width: 980px;
  height: 227px;
}
body main.booking_page form.booking_order_form section.contact_form p.title,
body main.booking_page form.booking_order_form section.payment_info p.title {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 700;
}
body main.booking_page form.booking_order_form section.contact_form p,
body main.booking_page form.booking_order_form section.payment_info p {
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  line-height: 24px;
}
body main.booking_page form.booking_order_form section.contact_form div,
body main.booking_page form.booking_order_form section.payment_info div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
body main.booking_page form.booking_order_form section.contact_form div label,
body main.booking_page form.booking_order_form section.payment_info div label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
body main.booking_page form.booking_order_form section.contact_form div input,
body main.booking_page form.booking_order_form section.payment_info div input {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  padding: 10px;
}
body main.booking_page form.booking_order_form section.contact_form div input::-moz-placeholder, body main.booking_page form.booking_order_form section.payment_info div input::-moz-placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body main.booking_page form.booking_order_form section.contact_form div input::placeholder,
body main.booking_page form.booking_order_form section.payment_info div input::placeholder {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
body main.booking_page form.booking_order_form section.button_area {
  width: 100%;
  max-width: 980px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body main.booking_page form.booking_order_form section.button_area p.total_price {
  font-size: 16px;
  font-weight: 700;
  color: #666666;
}
body main.booking_page form.booking_order_form section.button_area button#payment_button {
  width: 173px;
  height: 36px;
  background-color: #448899;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  border: 0;
  border-radius: 5px 5px 5px 5px;
  margin: 22px 0 22px 0;
}
body footer.booking_page {
  flex: 1 0 auto;
  height: auto;
  width: 100%;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body footer.booking_page div.booking_page_footer_text {
  display: none;
  text-align: center;
  font-size: 16px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 45px;
}

@media screen and (max-width: 1200px) {
  body main article {
    width: 90vw;
  }
  body main article div.box_area {
    justify-content: center;
  }
  body main article div.box_area div.box {
    max-width: 510px;
    width: calc(50% - 30px);
  }
  body main article div.box_area div.box figure,
  body main article div.box_area div.box div.attraction_text {
    width: 100%;
  }
  body main article div.box_area div.box figure p {
    width: 100%;
  }
  body main section.main_container {
    width: 100%;
  }
  body main section.main_container .slideshow-container,
  body main section.main_container section.second_container {
    width: calc((100% - 30px) / 2);
  }
  body main section.main_container .slideshow-container form,
  body main section.main_container section.second_container form {
    width: 100%;
  }
  body main hr {
    width: calc(100% - 20px);
  }
}
@media screen and (max-width: 600px) {
  body main div.welcome div.welcome_content div.search {
    max-width: 460px;
    width: 100%;
  }
  body main div.welcome div.welcome_content div.search input {
    max-width: 400px;
    width: 100%;
  }
  body main article div.box_area {
    justify-content: center;
  }
  body main article div.box_area div.box {
    max-width: 540px;
    width: 100%;
    height: 280px;
  }
  body main article div.box_area div.box figure {
    height: 235px;
  }
  body main article div.box_area div.box div.attraction_text {
    height: 45px;
  }
  body main section.main_container {
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
  }
  body main section.main_container .slideshow-container {
    height: 350px;
    width: 100%;
    border-radius: 0;
  }
  body main section.main_container .slideshow-container div.mySlides {
    border-radius: 0;
  }
  body main section.main_container .slideshow-container div.dot_area {
    top: 328px;
  }
  body main section.main_container section.second_container {
    height: 390px;
    width: calc(100% - 20px);
  }
  body.booking_page main.booking_page form.booking_order_form hr.first {
    margin: 30px 0 40px 0;
  }
  body.booking_page main.booking_page form.booking_order_form section.attraction_booked {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  body.booking_page main.booking_page form.booking_order_form section.attraction_booked figure.booking_attr_img {
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 0 0 30px 0;
    background-size: cover;
    background-position: center;
  }
  body.booking_page main.booking_page form.booking_order_form section.attraction_booked div.attraction_info {
    margin: 0;
    height: 200px;
  }
  body.booking_page main.booking_page form.booking_order_form section.attraction_booked div.attraction_info button.delete_booking {
    top: 170px;
    right: 0;
  }
  body.booking_page main.booking_page form.booking_order_form section.contact_form,
  body.booking_page main.booking_page form.booking_order_form section.payment_info {
    height: auto;
  }
}
@media screen and (max-width: 360px) {
  body main article {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */